:root{
    --global-primaty-color: #e178ff;
    --global-secundary-color: #c65aef;
    --global-tertiary-color: #911fd0;
}

body{
    margin-top: 10%;
    margin-left: 25%;
    margin-bottom: 2%;
    margin-right: 30%;
    width: 50%;
    height: 80%;
    position: relative; 
    font-family:  Helvetica;
    background: var(--global-primaty-color);
}


.titulo{
    color: black;
    text-align: center;
    text-shadow: 1px 1px var(--global-tertiary-color);
    font-size: 25px;
}

.primeiro-texto{
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 3px;
}

.lista{
    border: 2px solid black;
    box-shadow: 10px 10px var(--global-tertiary-color);
    border-radius: 2px;
    padding: 5%;
}

.input{
    width: max-content;
    border-width: 2px;
    border-radius: 3%;
    border-color: var(--global-secundary-color);
    box-shadow: 2px 2px var(--global-tertiary-color);
    margin-left: 12%;
    align-items: center;
}

.input_Novo{
    height: max-content;
    border-width: 2px;
    border-radius: 3%;
    border-color: var(--global-secundary-color);
    box-shadow: 2px 2px var(--global-tertiary-color);
}

.btn_Tarefa, .btn_Excluir, .btn_Confirmar, .btn_Alterar{
    border: 1px solid var(--global-tertiary-color);
    background-color: var(--global-secundary-color);
    width: auto;
    margin-left: 4%;
}

.btn_Alterar:hover, .btn_Excluir:hover, .btn_Confirmar:hover, .btn_Tarefa:hover{
    background-color: var(--global-tertiary-color);
    border: 1px solid black;
}

ul, li{
    list-style: none;
    margin: 1px;
}

.lista_Itens{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid black;
    margin-left: 5%;
    padding: 3px;
    /* border-bottom: 2px solid black; */
    box-shadow: px var(--global-tertiary-color);
}